@font-face {
  font-family: 'orti';
  src:  url('lib/Ortica/web/Ortica-Light.woff')  format('woff'); /* Safari, Android, iOS */
  src:  url('lib/Ortica/web/Ortica-Light.woff2')  format('woff2'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'sneaky';
  src:  url('lib/Minipax-Regular.woff')  format('woff'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'porp';
  src:  url('lib/Porpora/web/Porpora-Regular.woff2')  format('woff2'); /* Safari, Android, iOS */

}
html,body{
  /*background-color: #fff;*/
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'porp',Arial,sans-serif; 
  letter-spacing: 1px;
  height:100vh;
  cursor : default;

}
canvas{
  /*cursor : default;*/
  position: fixed;
  top: 0; 
  z-index: -1;
}
.nyelv{
	position: absolute;
	display: inline-flex;
	font-size: 1em;
}
#eng{
	padding-right: 0.2vw;
	padding-left: 1vw;
	cursor: pointer;


}
#eng:hover{
	text-shadow: 5px 2px 5px grey;
}
#hu{
	padding-left: 0.2vw;


	cursor: pointer;

}
#hu:hover{
	text-shadow: 5px 2px 5px grey;
}
.kiem{
	/*font-weight: 800;*/
	color: blue;
	text-decoration: underline;
	  text-decoration-style: wavy;
	text-decoration-color: pink;
}
.contact{
	padding-top: 4vh;
}
#cim{
	padding-left: 2vw;
  padding-right: 2vw;
/* 	text-shadow: 2px 2px 5px white;*/
 	font-size: 18px;
 	z-index: 2;
 	width:20vw;
 	margin: 0;

}
#felsorolas{
		display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-row-gap:2vh;
  grid-column-gap:5vw;



  justify-content: center;
  align-items: center;
  overflow:auto;
}
#felsorolas2{
		display: grid;
  grid-template-columns: auto;
  grid-row-gap:2vh;
  grid-column-gap:5vw;



  justify-content: center;
  align-items: center;
  overflow:auto;
}
#feher_cim{
	padding-left: 2vw;
  padding-right: 2vw;
 	font-size: 16px;
 	z-index: 2;

 	width:20vw;
 	margin: 0;
/* 	text-shadow: 5px 5px 5px whitesmoke;*/

}
#feher_cim:hover{
  animation-name: szurkul;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}
@keyframes szurkul {
  from { text-shadow:  2px 2px 5px whitesmoke;}
  to {text-shadow:  10px 10px 15px whitesmoke;;}
}

.roza:hover{
	color: orange;
}
.feher{
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	padding-top: 2vh;

  overflow: auto;
  	background-color: white;
	background-color: black;
	color: white;
	height: 100vh;
	width: 100vw;
}
.feher_leiras:{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.feher_leiras::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.feher_leiras{
	position: relative;
	left: 20vw;
	padding-left: 2vw;
	width:60vw;
	height:40vh;
	overflow: auto;
/*	padding-left: 2vw;*/
/*	color:black;*/
/*	background-color: white;*/
  padding-right: 2vw;
  line-height: 1.5;
  letter-spacing: 1.5px;
	text-align: justify;
	text-justify: inter-word;

/*   column-count: 2;*/
/*  width:70vw;*/
}
.feher_leiras:hover{
	color:black;
	background-color: white;
}
.feher_vissza{
	z-index: 6;
	position: fixed;
	right: 1vw;
	top: 2vh;
	font-size: 24px;
	color: red;
	cursor: pointer;
	font-family: fantasy;

}
.feherkep{
	width:100vw;
	height:auto;
/*	background-color: black;*/
	padding-top: 4vh;

	padding-bottom: 4vh;
	display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-row-gap:2vh;
  grid-column-gap:2vw;



  justify-content: center;
  align-items: center;
  overflow:auto;
  z-index: 0;

}
.feher{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.feher::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.feherkep{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.feherkep::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

.feher-img{
	width:10vw;
	height:auto;
	z-index: 6;

}

.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(1.5);
          z-index: 6;
         /*width:50vw;*/
        }
      }
#titkok{

	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	padding-top: 2vh;
	background-color: white;
	display: grid;
  grid-template-columns: auto auto;
  grid-row-gap:2vh;
  grid-column-gap:2vw;
  justify-content: center;
  align-items: top;
  overflow:auto;
  z-index: 0;
	height: 100vh;
	width: 100vw;



}
#titkok{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
#titkok::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.titok-kep{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.titok-kep::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

.titok-img{
	width:30vw;
	height:auto;
	z-index: 6;

}
.titkok-cont{
	top:0;
	width:30vw;

}
.titkok_vissza{
		font-family: fantasy;

	z-index: 6;
	position: fixed;
	right: 1vw;
	top: 2vh;
	font-size: 24px;
	color: red;
	cursor: pointer;
}
#eml{

	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	padding-top: 2vh;
	padding-left: 2vw;
/*	padding-right: 2vw;*/

	background-color: white;
/*	display: inline-flex;*/
/*	display: grid;*/
/*  grid-template-columns: auto auto;*/
/*  grid-row-gap:2vh;*/
/*  grid-column-gap:2vw;*/
  justify-content: center;
  align-items: top;
  overflow: auto;
/*  overflow-y: hidden;*/
   white-space: nowrap;
  z-index: 0;
	height: 100vh;
	width: 100vw;



}
#eml-cim{
	padding-left: 2.5vw;

}
.eml-kep{
	display: inline-flex;
}
#eml{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
#eml::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.eml-kep{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.eml-kep::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.eml-item{

/*	display: inline-flex;*/
	padding-left: 2.5vw;
	padding-right: 2.5vw;

}
.eml-img{
	padding-top: 10vh;
	height:50vh;
	width:auto;
	z-index: 6;

}
.eml-cont{

	padding-left: 2.5vw;
/*	display: inline-flex;*/
	align-items: center;
	white-space: normal;

	 padding-top: 5vh;
	 padding-right: 1vw;
	height:55vh;
	width:50vw;
	overflow: auto;
	letter-spacing: 1.5px;
	text-align: justify;
	text-justify: inter-word;
	z-index: 6;
 

}
.eml_vissza{
	z-index: 6;
	position: fixed;
	right: 1vw;
	top: 2vh;
	font-size: 24px;
	color: red;
	cursor: pointer;
	font-family: fantasy;
}

#nevek{

	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	padding-top: 2vh;
	padding-left: 2vw;
/*	padding-right: 2vw;*/

	background-color: white;
/*	display: inline-flex;*/
/*	display: grid;*/
/*  grid-template-columns: auto auto;*/
/*  grid-row-gap:2vh;*/
/*  grid-column-gap:2vw;*/
  justify-content: center;
  align-items: top;
  overflow: auto;
/*  overflow-y: hidden;*/
  white-space: nowrap;
  z-index: 0;
	height: 100vh;
	width: 100vw;

}
.nevek-kep{
	display: inline-flex;
}
#nevek{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
#nevek::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.nevek-kep{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.nevek-kep::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
#nevek-cim{
	padding-left: 2.5vw;

    }
.nevek-item{

/*	display: inline-flex;*/
	padding-left: 2.5vw;
	padding-right: 2.5vw;

}
.nevek-img{
	padding-top: 5vh;
	height:50vh;
	width:auto;
	z-index: 6;

}
#nevek-cont{
/*	top:1vh;
	height:40vh;
	width:auto;*/
/*	width:30vw;*/
/*	padding-left: 2.5vw;*/
display: inline-flex;
	align-items: center;
  white-space: normal;
/*
	width:90vw;
	padding-bottom: 5vh;*/
 padding-top: 20vh;
	height:40vh;
	width:auto;
	z-index: 6;

}
.nevek-vissza{
	z-index: 8;
	position: fixed;
	right: 1vw;
	top: 2vh;
	font-size: 24px;
	color: red;
	cursor: pointer;
	font-family: fantasy;

}
#kis{

	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	padding-top: 2vh;
	padding-left: 2vw;
/*	padding-right: 2vw;*/

	background-color: white;
/*	display: inline-flex;*/
/*	display: grid;*/
/*  grid-template-columns: auto auto;*/
/*  grid-row-gap:2vh;*/
/*  grid-column-gap:2vw;*/
  justify-content: center;
  align-items: top;
  overflow: auto;
/*  overflow-y: hidden;*/
  white-space: nowrap;
  z-index: 0;
	height: 100vh;
	width: 100vw;

}
.kis-kep{
	display: inline-flex;
}
#kis{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
#kis::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.kis-kep{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.kis-kep::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
#kis-cim{
	padding-left: 2.5vw;

    }
.kis-item{

/*	display: inline-flex;*/
	padding-left: 2.5vw;
	padding-right: 2.5vw;

}
.kis-img{
	padding-top: 5vh;
	height:50vh;
	width:auto;
	z-index: 6;

}
#kis-cont{
	top:1vh;
/*	height:40vh;*/
/*	width:auto;*/
/*	width:30vw;*/
	padding-left: 2.5vw;
	display: inline-flex;
	align-items: center;
  white-space: normal;
/*white-space: normal;*/
/* padding-top: 20vh;*/
	height:auto;
	width:30vw;
	letter-spacing: 1.5px;
	text-align: justify;
	text-justify: inter-word;
	z-index: 6;

}
/*#kis-cont{

	align-items: center;
  white-space: normal;

 padding-top: 20vh;
	height:40vh;
	width:auto;
	z-index: 6;

}*/
.kis-vissza{
	z-index: 8;
	position: fixed;
	right: 1vw;
	top: 2vh;
	font-size: 24px;
	color: red;
	cursor: pointer;
	font-family: fantasy;

}

#fonodas{

	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	padding-top: 2vh;
	padding-left: 2vw;
/*	padding-right: 2vw;*/

	background-color: white;
/*	display: inline-flex;*/
/*	display: grid;*/
/*  grid-template-columns: auto auto;*/
/*  grid-row-gap:2vh;*/
/*  grid-column-gap:2vw;*/
  justify-content: center;
  align-items: top;
  overflow: auto;
/*  overflow-y: hidden;*/
  white-space: nowrap;
  z-index: 0;
	height: 100vh;
	width: 100vw;

}
.fonodas-kep{
	display: inline-flex;
}
#fonodas{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
#fonodas::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.fonodas-kep{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.fonodas-kep::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
#fonodas-cim{
	padding-left: 2.5vw;

    }
.fonodas-item{

/*	display: inline-flex;*/
	padding-left: 2.5vw;
	padding-right: 2.5vw;

}
.fonodas-img{
	padding-top: 5vh;
	height:50vh;
	width:auto;
	z-index: 6;

}
#fonodas-cont{
	top:1vh;
/*	height:40vh;*/
/*	width:auto;*/
/*	width:30vw;*/
	padding-left: 2.5vw;
	display: inline-flex;
	align-items: center;
  white-space: normal;
/*white-space: normal;*/
/* padding-top: 20vh;*/
	height:auto;
	width:30vw;
	letter-spacing: 1.5px;
	text-align: justify;
	text-justify: inter-word;
	z-index: 6;

}
.fonodas-vissza{
	z-index: 8;
	position: fixed;
	right: 1vw;
	top: 2vh;
	font-size: 24px;
	color: red;
	cursor: pointer;
	font-family: fantasy;

}

#sweet{

	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	padding-top: 2vh;
	padding-left: 2vw;
/*	padding-right: 2vw;*/

	background-color: white;
/*	display: inline-flex;*/
/*	display: grid;*/
/*  grid-template-columns: auto auto;*/
/*  grid-row-gap:2vh;*/
/*  grid-column-gap:2vw;*/
  justify-content: center;
  align-items: top;
  overflow: auto;
/*  overflow-y: hidden;*/
  white-space: nowrap;
  z-index: 0;
	height: 100vh;
	width: 100vw;

}
.sweet-kep{
	display: inline-flex;
}
#sweet{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
#sweet::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.sweet-kep{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
.sweet-kep::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
#sweet-cim{
	padding-left: 2.5vw;

    }
.sweet-item{

/*	display: inline-flex;*/
	padding-left: 2.5vw;
	padding-right: 2.5vw;

}
.sweet-img{
	padding-top: 5vh;
	height:50vh;
	width:auto;
	z-index: 6;

}
#sweet-cont{
/*	top:1vh;
	height:40vh;
	width:auto;*/
/*	width:30vw;*/
	padding-left: 2.5vw;
	display: inline-flex;
	align-items: center;
  white-space: normal;
/*white-space: normal;*/
/* padding-top: 20vh;*/
	height:auto;
	width:30vw;
	letter-spacing: 1.5px;
	text-align: justify;
	text-justify: inter-word;
	z-index: 6;

}
.sweet-vissza{
	z-index: 8;
	position: fixed;
	right: 1vw;
	top: 2vh;
	font-size: 24px;
	color: red;
	cursor: pointer;
	font-family: fantasy;

}

.leirat{

	margin-left:2vw;
	word-wrap: normal;
	width: 35vw;
	/*height: 30vh;*/
	font-size: 15px;
	/*text-align: left;*/
	padding-top: 20px;
	padding-right: 20px;
	letter-spacing: 1.5px;
	text-align: justify;
	text-justify: inter-word;
		

}
.stilo{

}
.betu_f{
  	font-family: porp,Trebuchet MS,Arial,sans-serif; 
letter-spacing: 1px;
}

.elem{
	cursor:pointer;

}
.elem:hover{
	/*color:blue;*/
	color:white;

	text-shadow: 2px 2px 5px black;
}
td:hover{
	/*color:blue;*/
	color:white;

	text-shadow: 2px 2px 5px black;
}

table{
	width:95vw;
	cursor: pointer;
}
tr{
	/*position: absolute;*/
}
.row{
  /*float:right;*/
  margin:0;
  top:5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}
.column{
  display: inline-flex;
  flex-direction: column;
  flex-basis: 70vh;
  /*width: 30vw;*/
  flex: 5;
  /*width:25vw;*/
  z-index: 0;
}

.szalag{
	position: absolute;
	bottom: 3vh;
	left: 5vw;
	/*text-align: center;*/
	/*height: 2vh;*/
	font-size: 18px;
	z-index: 2;

}
.szalag-posi{
	/*position: relative;*/
	user-select: none;
	margin:0;
	padding-left:5vw;
	padding-bottom:1vh;
	display:inline-flex;
}
#partners:hover{
	transform: rotateX(150deg);
	color: blue;
	cursor:pointer;


}
a:visited{
	color:grey;
}
a:link{
	color:blue;
}
a:active{
	color:red;
}
.part{
	margin:0;
	padding-left:5vw;
	padding-bottom:1vh;
	display:inline-flex;
}
.ev{
	font-weight: 500;
	/*color:blue;*/
    text-shadow:  5px 5px 5px grey;
  	font-family: Futura,Trebuchet MS,Arial,sans-serif; 

	padding-right: 1vw; 
}

.havi-betu{
	font-size: 15px;
	font-weight: 400;
	font-variant: small-caps;
}
.munk{
	transition: transform 2s;
	/*position: sticky;*/
}
.munk:hover{
	/*animation-name: nagyul;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;*/
  	transform:rotate(-60deg);
  
  	/*letter-spacing: 10px;*/
  	color: red;

}
.kia{
	transition: transform 2s;
	/*position: sticky;*/
}
.kia:hover{
	/*animation-name: nagyul;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;*/
  	transform:rotate(10deg);
  
  	/*letter-spacing: 10px;*/
  	color: blue;

}
.cv{
	transition: transform 2s;
	/*position: sticky;*/
}
.cv:hover{
	/*animation-name: nagyul;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;*/
  	transform:rotate(-40deg);
  
  	/*letter-spacing: 10px;*/
  	color: pink;


}
.munk_al{
	position: absolute;
	top: 25vh;
	padding-left: 2vw;
	cursor:pointer;
}
.kia_al, .cv_al{
	font-size: 14px;

}
.kia_al{
	position: absolute;
	top: 25vh;
	padding-left: 2vw;
}
.cv_al{
	position: absolute;
	top: 25vh;
	padding-left: 2vw;
/*	font-size: 14px;*/

}
.munk{
/*	font-size: 14px;
	overflow: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	word-wrap: auto;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: inter-word;*/
	/*word-wrap: */
}
#conti{
	transition: transform 2s;

}
#conti:hover{
	transform:scale(2);
  
  	letter-spacing: 10px;
  	color: blue;
}
#contii{
	font-size: 14px;
	overflow: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	word-wrap: auto;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: inter-word;
	/*word-wrap: */
}
#press{
	transition: transform 2s;

}
#press:hover{
	transform: rotate(-90deg);
  
  	letter-spacing: 10px;
  	color: red;
}
#presspress{
	font-size: 14px;
	overflow: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	word-wrap: auto;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: inter-word;
	/*word-wrap: */
}

.nevek{
	font-size: 16px;
}

.vork{
  text-shadow:  2px 2px 5px blue;
  animation-name: pirul;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}
.listt{
	/*text-decoration: none;*/
	list-style-type:none;
	font-size: 14px;
	padding-left: 5px; 
}
#pressi{
	color: black;
	position: absolute;
	z-index: -3;
	left: 10px;
}
@keyframes pirul {
  from { text-shadow:  2px 2px 5px blue;}
  to {text-shadow:  2px 2px 5px red;;}
}




.dev {
  /*position: relative;*/
  bottom:0.5vh;
  right:1vw;
  color:blue;
  /*left: vw;*/
  font-size: 12px;
  position: absolute;
  /*padding-top: 2vh;*/
  /*z-index: -5;*/
}
.dev:hover{
  color:red;
}
#deva{
	color: red;
}
#deva:hover{
	color: blue;
}
@media only screen and (max-device-width: 1024px) and (max-device-height:600px) {
body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    #defaultCanvas0{
    	display: none;
    }
      #titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-img{
        width:40vw;
  	}
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 14px;	

  	}
  	  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:40vw;
  	position: relative;
/*  	top:10vh;*/
  	font-size: 14px;
  	padding-top: 10vh;

  }
    .fonodas-item{
  	padding-top: 10vh;
  }
  #sweet-cont, .nevek-cont, .eml-cont, #kis-cont{
  	font-size: 14px;
	}
  }
@media only screen and (max-device-width: 912px) and (max-device-height:1368px) and (orientation:portrait) {
body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    #defaultCanvas0{
    	display: none;
    }
    .szalag-posi{
    	font-size: 28px;
    }
    .dev{
    	font-size: 20px;
    }
	.munk_al{
	 font-size: 24px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:50vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-img{
        width:40vw;
  	}
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 24px;	

  	}
  	#cim{
  		font-size: 28px;
  	}
  	#feher_cim{
  		font-size: 24px;
  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	  padding-left:12vw;
  	  left:12vw;
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
	 padding-bottom: 15vh;

/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 24px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
/*  	top:10vh;*/
  	font-size: 24px;
  	padding-top: 10vh;

  }
    .fonodas-item{
  	padding-top: 10vh;
  }

  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 24px;
  }
  .kia_al, .cv_al{
  	top:5vh;
  	font-size: 24px;
  }
  }  		
@media only screen and (max-device-width: 820px) and (max-device-height:1180px)  and (orientation:portrait){
body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    #defaultCanvas0{
    	display: none;
    }
    .szalag-posi{
    	font-size: 18px;
    }
    .dev{
    	font-size: 14px;
    	bottom:0;
    }
	.munk_al{
	 font-size: 16px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-img{
        width:40vw;
  	}
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 14px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	  padding-left:12vw;
  	  left:12vw;
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
	 padding-bottom: 15vh;

/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 14px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
/*  	top:10vh;*/
  	font-size: 14px;
  	padding-top: 10vh;

  }
    .fonodas-item{
  	padding-top: 10vh;
  }

  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 14px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 16px;
  }
  }  	
@media only screen and (max-device-width: 768px) and (max-device-height:1024px)  and (orientation:portrait){
body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    #defaultCanvas0{
    	display: none;
    }
	.munk_al{
	 font-size: 16px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-img{
        width:40vw;
  	}
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 14px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	  padding-left:12vw;
  	  left:12vw;
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
	 padding-bottom: 15vh;

/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 14px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
/*  	top:10vh;*/
  	font-size: 14px;
  	padding-top: 10vh;

  }
    .fonodas-item{
  	padding-top: 10vh;
  }

  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 14px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 16px;
  }
  }  
@media only screen and (max-width: 600px) {
    body{
      width:100vw;
      /*height:90vh;*/
      overflow: auto;
    }
    #defaultCanvas0{
    	display: none;
    }
    .szalag-posi{
    	font-size: 12px;
    }
    .eml_vissza{
    	top:8vh;
    }
    .titkok_vissza{
    	top:8vh;

    }
    #eml-cim, #nevek-cim, #ossz-cim, #kis-cim{
    	padding-top:10vh;
    }
    .nyelv{
    	font-size: 0.5em;
    	top: 1vh;
    }
    #felsorolas{
    	 grid-template-columns: auto auto;
    }
    #titkok{
    	top:5vh;
    }
    #cim{
			padding-left: 2vw;
		  padding-right: 2vw;
		/* 	text-shadow: 2px 2px 5px white;*/
		 	font-size: 18px;
		 	z-index: 2;
		 	width:40vw;
		 	margin: 0;

		}
		#feher_cim{
			padding-left: 2vw;
		  padding-right: 2vw;
		 	font-size: 16px;
		 	z-index: 2;

		 	width:40vw;
		 	margin: 0;
		/* 	text-shadow: 5px 5px 5px whitesmoke;*/

		}
    .szalag{
		/*position: sticky;*/
		position: relative;

		border-bottom-left-radius: 2vw;
		/*overflow: auto;*/
		/*text-align: center;*/
		/*height: 2vh;*/
		top:0;
		padding-left:1vw;
		/*left:2vw;*/
		font-size: 12px;
		z-index: 2;
	
	}
	.szalag-posi{
		/*width: auto;*/
		/*position: relative;*/
		margin:0;
		/*padding-bottom:0;*/
		/*padding-right: 0;*/
		padding-top:4vh;
		display:inline-flex;
	}

	#aboutt{
		font-size: 10px;
	}
	#ab{
		transition: transform 2s;
		/*position: sticky;*/
		/*color:black;*/
	}
	#ab:hover{
	  	transform:scale(1);
	  	left:1vw;
	  	color: red;

	}
	#conti{
	transition: transform 2s;

	}
	#conti:hover{
		transform:scale(1.1);
	  
	  	letter-spacing: 1px;
	  	color: blue;
	}
	#contii{
		font-size: 8px;
		overflow: auto;
		padding-left: 5vw;
		padding-right: 5vw;
		word-wrap: auto;
		letter-spacing: 1px;
		text-align: justify;
		text-justify: inter-word;
		/*word-wrap: */
	}
	#presspress{
	font-size: 8px;
	overflow: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	word-wrap: auto;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: inter-word;
	/*word-wrap: */
	}
	.row2{
	  /*float:right;*/
	  margin:0;
	  top:1vh;
	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  width: auto;
	}
	.column2{
	  display: inline-flex;
	  flex-direction: column;
	  /*flex-basis: 70vh;*/
	  /*flex: 5;*/
	  /*width:25vw;*/
	  z-index: 0;
	}
	#pressi{
		display: none;
	}
	.row{
	  /*float:right;*/
	  /*margin:auto;*/
	  top:1vh;
	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  /*width: 90vw;*/
	}
	.column{
	  display: inline-flex;
	  flex-direction: column;
	  flex-basis: 10vh;
	  flex: 2;
	  /*width:25vw;*/
	  z-index: 1;
	  width: 90vw; 	
	  margin: auto;
	}
	.rejt{
		display: none;
	}

	.mobilkep{
	  display: block;
	  width: 50vw;

	}
	.page-wrap{
	}
	.dev {
	  /*position: relative;*/
	  bottom:0.1vh;
	  right:1vw;
	  color:blue;
	  /*left: vw;*/
	  font-size: 8px;
	  position: absolute;
	  /*padding-bottom:0.1vh;*/
	  /*z-index: -5;*/
	}
    }

@media only screen and (max-width:540px) and (max-height: 720px) {
body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
	.munk_al{
	 font-size: 14px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-img{
        width:40vw;
  	}
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 12px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	   padding-left:12vw;
  	  left:12vw;
  	
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
	 padding-bottom: 15vh;

/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 12px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
/*  	top:10vh;*/
  	font-size: 12px;
  	padding-top: 10vh;

  }
    .fonodas-item{
  	padding-top: 10vh;
  }

  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 12px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 14px;
  }
  }  
  @media only screen and (min-width: 414px) and (orientation: portrait) { 
/*  @media only screen and (max-device-width: 414px) and (max-device-height:896px) and (orientation:portrait) and (-webkit-device-pixel-ratio: 2) {*/
body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
	.munk_al{
	 font-size: 14px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-img{
        width:40vw;
  	}
  	.titok-kep{
  	 overflow: auto;
  	 height: 60vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:60vh;
  	 width:50vw;
  	 font-size: 12px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	  padding-left:12vw;
  	  left:12vw;
  	
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
	 padding-bottom: 15vh;

/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 12px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
/*  	top:10vh;*/
  	font-size: 12px;
  	padding-top: 10vh;

  }
    .fonodas-item{
  	padding-top: 10vh;
  }

  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 12px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 14px;
  }
  }        
@media only screen and (max-device-width: 412px) and (max-device-height:915px) and (orientation:portrait) {
body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
	.munk_al{
	 font-size: 14px;	
	}
	.dev{
	font-size: 12px;
	bottom:1vh;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-img{
        width:40vw;
  	}
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 12px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	 padding-left:12vw;
  	  left:12vw;
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
	 padding-bottom: 15vh;

/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 12px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
/*  	top:10vh;*/
  	font-size: 12px;
  	padding-top: 10vh;

  }
    .fonodas-item{
  	padding-top: 10vh;
  }

  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 12px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 14px;
  }
    }     

@media only screen and (max-width: 393px) and (max-height:851px) and (orientation:portrait) {
body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
	.munk_al{
	 font-size: 14px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-img{
        width:40vw;
  	}
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 12px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	 padding-left:12vw;
  	  left:12vw;
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 12px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
/*  	top:10vh;*/
  	font-size: 12px;
  	padding-top: 10vh;

  }
    .fonodas-item{
  	padding-top: 10vh;
  }

  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 12px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 14px;
  }
  }    
@media only screen and (max-width: 390px) and (max-height:844px) and (orientation:portrait) {
    	body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
	.munk_al{
	 font-size: 14px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  	 height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 12px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	  padding-left:12vw;
  	  left:12vw;
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 12px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
  	padding-top:10vh;
  	font-size: 12px;
  }
    .fonodas-item{
  	padding-top: 10vh;
  }

  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 12px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 14px;
  }
  }

@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 2) {
	body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
	.munk_al{
	 font-size: 14px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-img{
        width:40vw;
  	}
  	.titok-kep{
  	 overflow: auto;
  	 height: 60vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:60vh;
  	 width:50vw;
  	 font-size: 12px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	  padding-left:12vw;
  	  left:12vw;
  	
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
	 padding-bottom: 15vh;

/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 12px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
/*  	top:10vh;*/
  	font-size: 12px;
  	padding-top: 10vh;

  }
    .fonodas-item{
  	padding-top: 10vh;
  }

  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 12px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 14px;
  }
}

@media only screen and (max-width: 375px) and (max-height:667px) and (orientation:portrait) and (-webkit-device-pixel-ratio: 2)  {

body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
	.munk_al{
	 font-size: 14px;	
	}
	#t-cim{

	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:40vh;	
  	}
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 12px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
        padding-left:12vw;
  	  left:12vw;
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 12px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
  	padding-top:10vh;
  	font-size: 12px;
  }
    .fonodas-item{
  	padding-top: 10vh;
  }
  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 12px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 14px;
  }
  }

@media only screen and (max-width: 360px) and (max-height:740px) and (orientation:portrait){

body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
	.munk_al{
	 font-size: 14px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 12px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	  padding-left:12vw;
  	  left:12vw;
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 12px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
  	padding-top:10vh;
  	font-size: 12px;
  }
    .fonodas-item{
  	padding-top: 10vh;
  }
  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 12px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 14px;
  }
  }

@media only screen and (max-width:320px) and (max-height: 568px) and (orientation:portrait){

body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    .szalag-posi{
    	font-size: 10px;
    }
	.munk_al{
	 font-size: 10px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  		height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 10px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
 	 padding-left:12vw;
  	  left:12vw;
  	
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 10px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
/*  	top:5vh;*/
	padding-top: 10vh;
  	font-size: 10px;
  }
    .fonodas-item{
  	padding-top: 10vh;
  }
  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 10px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 10px;
  }
  }

  @media only screen and (max-width:280px) and (max-height: 653px) and (orientation:portrait){

body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    .szalag-posi{
    	font-size: 8px;
    }
	.munk_al{
	 font-size: 10px;	
	}
	#t-cim{

	}
	.eml-img, .kis-img, .fonodas-img, .nevek-img, .sweet-img{
  	 height:40vh;	
  	}
  	#titkok{
  		height:90vh;
	 grid-row-gap: 0;

  	} 
  	.titok-kep{
  	 overflow: auto;
  	 height: 70vh;	
  	 width:40vw;
  	}
  	.titkok-cont{
  	 overflow: auto;
  	 height:70vh;
  	 width:50vw;
  	 font-size: 10px;	

  	}
  	.feher_leiras{
  	  padding-top: 5vh;
  	  width:50vw;
  	  height:40vh;
  	  overflow: auto;
  	 padding-left:12vw;
  	  left:12vw;
  	}
  	#felsorolas2{
  	 position: relative;	
  	}
  	.feherkep{
  	 width:100vw;
	 padding-top: 10vh;
/*	 padding-left: 10vw;*/
	 padding-right: 10vw;
  	 grid-template-columns: auto auto auto auto auto;	
  	}
  	.feher-img:hover{
	z-index: 6;
	animation: kiemel 3s;
}
  @keyframes kiemel {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(-20%, -20%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(3);
          z-index: 6;
         /*width:50vw;*/
        }
      }
  #kis-cont{
  	width:50vw;
  	font-size: 10px;
  }  
  .kis-vissza{
  	top:5vh;	
  } 
  #fonodas-cim, #sweet-cim{
  	position: relative;
  	top:5vh;
  }
  #fonodas-cont{
  	width:80vw;
  	position: relative;
  	padding-top:10vh;
  	font-size: 10px;
  }
    .fonodas-item{
  	padding-top: 10vh;
  }
  .fonodas-vissza, .nevek-vissza, .eml_vissza, .sweet-vissza{
  	top:5vh;
  } 
  #eml-cim{
  	white-space: normal;
  }
  .eml-cont, #sweet-cont{
  	width:80vw;
  	font-size: 10px;
  }
  .kia_al, .cv_al{
  	top:15vh;
  	font-size: 10px;
  }
  }